body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear { display: block; }
.app-theme { display: block; min-height: 100vh; }
header { height: var(--nav-height); }
header .header, footer .footer { visibility: hidden; }
header .header[data-block-status="loaded"], footer .footer[data-block-status="loaded"] { visibility: visible; }
main > div { margin: 40px 16px; }
input, textarea, select, button { font: inherit; }
a:any-link { color: var(--link-color); text-decoration: none; overflow-wrap: break-word; }
a:hover { color: var(--link-hover-color); text-decoration: underline; }
