main > .section { margin: 40px 0; }
main > .section > div { max-width: 1200px; margin: auto; padding: 0 24px; }
main > .section:first-of-type { margin-top: 0; }
main .section.light, main .section.highlight { background-color: var(--light-color); margin: 0; padding: 40px 0; }
.block[data-block-status="initialized"], .block[data-block-status="loading"]:not([data-block-loading-ui]) { visibility: hidden; }
.block[data-block-status="loaded"], .block[data-block-status="error"] { visibility: visible; }
.section[data-padding="section-no-padding"] > div { padding-inline: 0; }
.section[data-padding="section-padding-small"] { padding-block: 24px; }
.section[data-padding="section-padding-medium"] { padding-block: 48px; }
.section[data-padding="section-padding-large"] { padding-block: 72px; }
.section[data-margin="section-no-margin"] { margin-block: 0; }
.section[data-background-color="sage"] { background: #e7eee6; }
.section[data-background-color="gray-blue"] { background: #e9eef2; }
.section[data-background-color="midnight-blue"] { background: #252a2f; color: white; }
.section.grid-container .grid-wrapper { display: grid; gap: 24px; }
.section.grid-container[data-grid-layout="two-col-equal"] .grid-wrapper { grid-template-columns: repeat(2, minmax(0, 1fr)); }
.section.grid-container[data-grid-layout="three-col-equal"] .grid-wrapper { grid-template-columns: repeat(3, minmax(0, 1fr)); }
.section.grid-container[data-grid-layout="four-col-equal"] .grid-wrapper { grid-template-columns: repeat(4, minmax(0, 1fr)); }

@media (width >= 900px) {
  main > .section > div { padding: 0 32px; }
}

@media (width < 768px) {
  .section.grid-container .grid-wrapper { grid-template-columns: 1fr !important; }
}
