h1,
.titleStyle-h1 {
  font: var(--heading-font-xxl);
  letter-spacing: 0.72px;
}

@media (width >= 998px) {
  h1,
  .titleStyle-h1 {
    letter-spacing: 1.1px;
  }
}

h2,
.titleStyle-h2 {
  font: var(--heading-font-xl);
  letter-spacing: 0.28px;
}

@media (width >= 998px) {
  h2,
  .titleStyle-h2 {
    letter-spacing: 0.8px;
  }
}

h3,
.titleStyle-h3 {
  font: var(--heading-font-l);
  letter-spacing: normal;
}

h4,
.titleStyle-h4 {
  font: var(--heading-font-m);
  letter-spacing: normal;
}

h5,
.titleStyle-h5 {
  font: var(--heading-font-s);
  letter-spacing: normal;
}

h6,
.titleStyle-h6 {
  font: var(--heading-font-xs);
  letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-primary-dark);
  margin-top: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  list-style-type: none;
  margin-bottom: 1.25em;
}

ol,
ul,
ul p,
ol p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.para {
  font: var(--para-font);
  color: var(--c-primary-dark);
  letter-spacing: normal;
}

.para-sm {
  font: var(--para-font-sm);
  color: var(--c-primary-dark);
  letter-spacing: normal;
}

.para ol,
.para-sm ol,
.list ol,
main .default-content-wrapper ol {
  list-style-type: decimal;
}

.para ul,
.para-sm ul,
.list ul,
main .default-content-wrapper ul {
  list-style-type: disc;
}

.para ol,
.para ul,
.para-sm ol,
.para-sm ul,
.list ol,
.list ul,
main .default-content-wrapper ol,
main .default-content-wrapper ul {
  margin-bottom: 1rem;
  list-style-position: outside;
  padding-left: 1.1rem;
}

.para li,
.para-sm li,
.list li,
main .default-content-wrapper li {
  font: var(--list-font);
}

.para li p,
.para-sm li p,
.list li p,
main .default-content-wrapper li p {
  display: inline;
}

.label {
  font: var(--label-font);
  color: var(--c-primary-dark);
  letter-spacing: 0.16px;
}

@media (width >= 998px) {
  .label {
    letter-spacing: 0.48px;
  }
}

.label-sm,
.pretitle {
  font: var(--label-font-sm);
  color: var(--c-primary-dark);
  letter-spacing: 0.3px;
}

@media (width >= 998px) {
  .label-sm,
  .pretitle {
    letter-spacing: 0.48px;
  }
}

.list {
  font: var(--list-font);
  color: inherit;
  letter-spacing: normal;
}

.section .default-content-wrapper p {
  font-size: 0.938rem;
  line-height: 1.75;
}

@media (width < 1024px) {
  .section .default-content-wrapper p,
  .section .default-content-wrapper p > a {
    font-size: 0.813rem;
    font-weight: var(--fw-regular);
  }

  .section .default-content-wrapper ul li p > a {
    font-size: 0.813rem !important;
    font-weight: var(--fw-semi-bold);
  }
}
