main .hero-container .hero-wrapper {
  max-width: unset;

  --hero-background-img-height-desktop: 715px;
  --hero-background-img-height-mobile: 615px;
  --hero-content-padding-desktop: 35px 55px;
  --hero-content-padding-mobile: 25px;
}

.hero img {
  display: block;
}

.hero {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  position: relative;
}

.hero p {
  color: var(--c-white);
  margin: 0;
}

.hero-main-container {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: auto;
  overflow: hidden;
}

.hero-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-image-container img {
  width: 100%;
  height: var(--hero-background-img-height-desktop);
  display: block;
  margin-bottom: -11%;
  object-position: center;
  object-fit: cover;
}

.hero-inner-image-container {
  inset: 0;
  position: absolute;
  width: auto;
  height: auto;
  pointer-events: none;
  z-index: 1;
}

.hero-inner-image-container a {
  display: inline-block;
  width: auto;
  height: auto;
  pointer-events: none;
}

.hero-inner-image-container picture img {
  margin: 14% 0 0 57%;
  max-width: 400px;
  display: block;
  pointer-events: auto;
}

.hero-text-content a {
  background: none;
  bottom: 5%;
  color: var(--c-white);
  display: block;
  font-family: var(--ff-primary);
  font-size: 0.938rem;
  font-weight: var(--fw-regular);
  filter: drop-shadow(0 0 0.25rem black);
  justify-content: flex-end;
  left: 80%;
  position: absolute;
  text-decoration: underline;
}

.hero-text-content {
  position: absolute;
  top: 7%;
  left: 15%;
}

.hero .hero-main-container .hero-text-content.overlay-text-content {
  width: 38rem;
  padding: var(--hero-content-padding-desktop);
}

.hero-text-content p.button-container a {
  font-weight: var(--fw-semi-bold);
  filter: none;
  left: 0%;
  letter-spacing: 0;
  text-align: left;
}

.hero-text-content p.buttons-container a:hover {
  background: var(--c-gray);
}

.hero .hero-main-container .hero-video-wrapper {
  height: var(--hero-background-img-height-desktop);
}

/* Mobile  */
@media screen and (width <= 767px) {
  .hero .hero-main-container .hero-text-content.hero-first-variation {
    left: 0;
    right: 0;
  }

  .hero-inner-image-container {
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .hero-image-container img {
    height: 100vh;
    object-fit: cover;
    max-height: 1000px;
  }

  .hero-inner-image-container picture img {
    max-width: 380px;
    margin: 10.5% auto 10%;
  }

  .hero-text-content a {
    left: 0;
    right: 0;
    text-align: center;
  }

  .hero-text-content h1,
  .hero-text-content h6,
  .hero-text-content p {
    width: 100%;
  }

  .hero .hero-frosted-glass-layout.align-bottom-center,
  .hero .hero-frosted-glass-layout.align-top-center,
  .hero .hero-frosted-glass-layout.align-center {
    width: 100%;
    padding: 10px;
    height: auto;
  }

  .hero .hero-frosted-glass-layout .button-container a {
    margin: 0;
  }

  .hero .hero-frosted-glass-layout.align-left {
    top: unset;
    bottom: 0;
    transform: unset;
    width: 90%;
    padding: 20px;
    margin: unset;
  }

  .hero .hero-frosted-glass-layout.align-right {
    top: unset;
    bottom: 0;
    transform: unset;
    width: 90%;
    padding: 20px;
    margin: unset;
  }

  .hero .hero-main-container.overlay-text-variation .overlay-text-content {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .hero .hero-main-container.overlay-text-variation .overlay-text-content h1,
  .overlay-text-content h6 {
    width: 100%;
  }

  .hero
    .hero-main-container.overlay-text-variation-position.align-bottom-center
    .overlay-text-content {
    bottom: 0;
    top: unset;
  }

  .hero
    .hero-main-container.overlay-text-variation-position.align-left
    .overlay-text-content {
    bottom: 0;
    top: unset;
    text-align: start;
  }

  .hero
    .hero-main-container.overlay-text-variation-position.align-right
    .overlay-text-content {
    bottom: 0;
    top: unset;
    text-align: end;
  }

  .hero
    .hero-main-container.overlay-text-variation-position.align-top-center
    .overlay-text-content {
    top: 0;
  }

  .hero .hero-main-container .hero-video-wrapper {
    height: var(--hero-background-img-height-mobile);
  }
}

@media screen and (width <= 540px) {
  .hero-image-container img {
    max-height: 753px;
    margin-bottom: 3px;
  }
}

/* Tablet */
@media screen and (width >= 768px) and (width <= 1024px) {
  .hero-image-container img {
    height: var(--hero-background-img-height-desktop);
    object-fit: cover;
    margin-bottom: 3px;
  }

  .hero-inner-image-container picture img {
    margin: 9% 19%;
    max-width: 300px;
  }

  .hero .overlay-image-variation picture img {
    margin: 0;
  }
}

@media screen and (width > 1024px) and (width <= 1500px) {
  .hero-text-content a {
    left: 75%;
  }
}

@media screen and (width >= 768px) and (width <= 1199px) {
  .hero-inner-image-container {
    display: flex;
    justify-content: center;
  }

  .hero-inner-image-container picture img {
    margin: 9% 0 0;
  }
}

@media only screen and (width >= 320px) and (width <= 480px) {
  .hero-inner-image-container {
    display: flex;
    justify-content: center;
  }

  .hero-inner-image-container picture img {
    max-width: 335px;
    margin: 10.5% auto 10%;
  }
}

.hero .hero-main-container .hero-text-content.hero-first-variation {
  bottom: 0;
  right: 0;
}

/* Hero v1 new css */
.hero .overlay-image-variation a {
  width: max-content;
  margin: 0 auto;
}

.hero .overlay-image-variation img {
  margin: 0;
}

.hero .overlay-image-variation .hero-first-variation-anchor-img {
  width: max-content;
  position: absolute;
}

.hero
  .overlay-image-variation.align-bottom-left
  .hero-first-variation-anchor-img {
  bottom: 0;
  left: 0;
  right: unset;
}

.hero
  .overlay-image-variation.align-bottom-center
  .hero-first-variation-anchor-img {
  bottom: 0;
  left: 0;
  right: 0;
}

.hero
  .overlay-image-variation.align-bottom-right
  .hero-first-variation-anchor-img {
  bottom: 0;
  right: 0;
  left: unset;
}

.hero .hero-video-placeholder-play-pause button {
  z-index: 111;
}

.hero .overlay-image-variation.align-top-left .hero-first-variation-anchor-img {
  top: 0;
  left: 0;
}

.hero
  .overlay-image-variation.align-top-center
  .hero-first-variation-anchor-img {
  top: 0;
  right: 0;
  left: 0;
}

.hero
  .overlay-image-variation.align-top-right
  .hero-first-variation-anchor-img {
  top: 0;
  right: 0;
}

.hero .overlay-image-variation.align-left .hero-first-variation-anchor-img {
  top: 50%;
  transform: translate(0%, -50%);
  left: 0;
}

.hero .overlay-image-variation.align-right .hero-first-variation-anchor-img {
  top: 50%;
  transform: translate(0%, -50%);
  right: 0;
}

.hero .overlay-image-variation.align-center .hero-first-variation-anchor-img {
  top: 50%;
  transform: translate(0%, -50%);
  right: 0;
  left: 0;
}

/* Hero v2 css */

.overlay-text-variation .hero-text-content h1,
.hero-text-content h6 {
  color: var(--c-white);
  margin-bottom: 0;
}

.hero
  .hero-main-container.overlay-text-variation
  .overlay-text-content
  > div
  > div
  p {
  margin-bottom: 0.5rem;
}

.hero .hero-main-container .overlay-text-variation-position {
  padding: var(--hero-content-padding-desktop);
}

.hero .hero-main-container .overlay-text-variation-position.align-top-left {
  left: 0;
  margin: 0 auto;
  top: 0;
  text-align: left;
}

.hero .hero-main-container .overlay-text-variation-position.align-top-center {
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  text-align: center;
}

.hero .hero-main-container .overlay-text-variation-position.align-top-right {
  right: 0;
  margin: 0 auto;
  top: 0;
  text-align: end;
}

.hero .hero-main-container .overlay-text-variation-position.align-left {
  left: 0;
  text-align: left;
  top: 50%;
  transform: translate(-0%, -50%);
}

.hero .hero-main-container .overlay-text-variation-position.align-right {
  right: 0;
  text-align: end;
  left: unset;
  top: 50%;
  transform: translate(-0%, -50%);
}

.hero .hero-main-container .overlay-text-variation-position.align-center {
  right: 0;
  left: 0;
  top: 50%;
  transform: translate(-0%, -50%);
  margin: 0 auto;
  text-align: center;
}

.hero .hero-main-container .overlay-text-variation-position.align-bottom-left {
  left: 0;
  margin: 0 auto;
  bottom: 0;
  text-align: left;
  top: unset;
}

.hero
  .hero-main-container
  .overlay-text-variation-position.align-bottom-center {
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  text-align: center;
  top: unset;
}

.hero .hero-main-container .overlay-text-variation-position.align-bottom-right {
  right: 0;
  margin: 0 auto;
  bottom: 0;
  text-align: end;
  top: unset;
  left: unset;
}

/* Hero v3 css */

.hero .hero-frosted-applied {
  backdrop-filter: blur(30px);
  background: rgb(
    from var(--hero-content-mask-color) r g b / var(--hero-content-opacity)
  ) !important;
}

.hero .hero-frosted-glass-layout {
  color: var(--c-secondary-copy);
  width: max-content;
  padding: var(--hero-content-padding-desktop);
  height: max-content;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  transform: translate(0%, -50%);
  top: 50%;
  z-index: 12;
}

.hero .hero-main-container .hero-image-container img {
  margin-bottom: 0;
}

/* Hero v3 position css */

.hero .hero-main-container .feature-product-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 59px;
  margin-right: 157px;
  text-align: end;
  color: var(--c-white);
  z-index: 10;
  text-shadow: 0 0 6px var(--c-black);
}

.hero .hero-main-container .feature-product-text p {
  color: inherit;
}

.hero .hero-main-container .feature-product-text a {
  text-shadow: 0 0 6px var(--c-black);
  text-decoration: underline;
  color: var(--c-white);
}

.hero .hero-frosted-glass-layout.align-top-center {
  top: 0;
  left: 0;
  right: 0;
  transform: unset;
  text-align: center;
}

.hero .hero-frosted-glass-layout.align-top-left {
  top: 0;
  left: 0;
  transform: unset;
  text-align: start;
}

.hero .hero-frosted-glass-layout.align-top-right {
  top: 0;
  right: 0;
  transform: unset;
  text-align: end;
  left: unset;
}

.hero .hero-frosted-glass-layout.align-left {
  left: 0;
  text-align: left;
  top: 50%;
  transform: translate(-0%, -50%);
}

.hero .hero-frosted-glass-layout.align-right {
  right: 0;
  text-align: end;
  left: unset;
  top: 50%;
  transform: translate(-0%, -50%);
}

.hero .hero-frosted-glass-layout.align-center {
  right: 0;
  left: 0;
}

.hero .hero-frosted-glass-layout.align-bottom-center {
  bottom: 0;
  top: unset;
  transform: unset;
  left: 0;
  right: 0;
  text-align: center;
}

.hero .hero-frosted-glass-layout.align-bottom-left {
  bottom: 0;
  top: unset;
  transform: unset;
  left: 0;
  right: unset;
  text-align: start;
}

.hero .hero-frosted-glass-layout.align-bottom-right {
  bottom: 0;
  top: unset;
  transform: unset;
  left: unset;
  right: 0;
  text-align: end;
}

.hero-button-wrapper {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}

.hero-text-content .hero-button-wrapper p.button-container a {
  margin: 10px 0 0;
}

.hero-container
  .hero
  .hero-main-container
  .hero-text-content.hero-heading-sage
  h1,
.hero-heading-sage h2,
.hero-heading-sage h3,
.hero-heading-sage h4,
.hero-heading-sage h5,
.hero-heading-sage h6,
.hero-text-sage p,
.hero .hero-main-container .hero-text-sage {
  color: var(--c-tertiary-copy);
}

.hero-container
  .hero
  .hero-main-container
  .hero-text-content.hero-heading-white
  h1,
.hero-heading-white h2,
.hero-heading-white h3,
.hero-heading-white h4,
.hero-heading-white h5,
.hero-heading-white h6,
.hero-text-white p,
.hero .hero-main-container .hero-text-white,
.hero .hero-text-white .button-container .button.cta {
  color: var(--c-white);
}

.hero .hero-text-white .button-container .button.cta::after {
  --button-icon: url("@assets/icons/arrow-left-whitesmoke.svg");
}

.hero-container
  .hero
  .hero-main-container
  .hero-text-content.hero-heading-blue
  h1,
.hero-heading-blue h2,
.hero-heading-blue h3,
.hero-heading-blue h4,
.hero-heading-blue h5,
.hero-heading-blue h6,
.hero-text-blue p,
.hero .hero-main-container .hero-text-blue {
  color: var(--c-primary);
}

.hero-container
  .hero
  .hero-main-container
  .hero-text-content.hero-heading-gray
  h1,
.hero-heading-gray h2,
.hero-heading-gray h3,
.hero-heading-gray h4,
.hero-heading-gray h5,
.hero-heading-gray h6,
.hero-text-gray p,
.hero .hero-main-container .hero-text-gray {
  color: var(--c-cart-actions-border);
}

.hero-container
  .hero
  .hero-main-container
  .hero-text-content.hero-heading-green
  h1,
.hero-heading-green h2,
.hero-heading-green h3,
.hero-heading-green h4,
.hero-heading-green h5,
.hero-heading-green h6,
.hero-text-green p,
.hero .hero-main-container .hero-text-green {
  color: var(--c-green);
}

.hero-container
  .hero
  .hero-main-container
  .hero-text-content.hero-heading-dark-blue
  h1,
.hero-heading-dark-blue h2,
.hero-heading-dark-blue h3,
.hero-heading-dark-blue h4,
.hero-heading-dark-blue h5,
.hero-heading-dark-blue h6,
.hero-text-dark-blue p,
.hero .hero-main-container .hero-text-dark-blue {
  color: var(--c-hero-primary);
}

.hero .hero-frosted-glass-layout p {
  position: unset;
}

main
  .hero
  .hero-main-container
  .hero-text-content[data-background-color="transparent"] {
  background-color: transparent;
}

main
  .hero
  .hero-main-container
  .hero-text-content[data-background-color="midnight-blue"] {
  background-color: var(--c-primary-dark);
}

main
  .hero
  .hero-main-container
  .hero-text-content[data-background-color="deep-gray-blue"] {
  background-color: var(--c-primary-darkish);
}

main
  .hero
  .hero-main-container
  .hero-text-content[data-background-color="gray-blue"] {
  background-color: var(--c-primary);
}

main
  .hero
  .hero-main-container
  .hero-text-content[data-background-color="slate"] {
  background-color: var(--hvt-slate-color);
}

main
  .hero
  .hero-main-container
  .hero-text-content[data-background-color="deep-sage"] {
  background-color: var(--c-tertiary-copy);
}

main
  .hero
  .hero-main-container
  .hero-text-content[data-background-color="sage"] {
  background-color: var(--c-green);
}

main
  .hero
  .hero-main-container
  .hero-text-content[data-background-color="cognac"] {
  background-color: var(--c-banner-cart);
}

main
  .hero
  .hero-main-container
  .hero-text-content[data-background-color="light-cognac"] {
  background-color: var(--c-link-hover);
}

main
  .hero
  .hero-main-container
  .hero-text-content[data-background-color="white-smoke"] {
  background-color: var(--c-cart-text-color);
}

main
  .hero
  .hero-main-container
  .hero-text-content[data-background-color="sales-red"] {
  background-color: var(--hvt-sales-red-color);
}

/* Varition 4 */
.hero .hero-hero-gradient-layout {
  transform: translate(0%, -50%);
  top: 50%;
  margin: 0 auto;
  text-align: start;
  padding: var(--hero-content-padding-desktop);
  width: fit-content;
}

.hero .hero-hero-gradient-layout.align-top-left {
  top: 0;
  transform: unset;
  left: 0;
  right: unset;
  text-align: start;
}

.hero .hero-hero-gradient-layout.align-top-center {
  top: 0;
  left: 0;
  right: 0;
  transform: unset;
  text-align: center;
}

.hero .hero-hero-gradient-layout.align-top-right {
  top: 0;
  transform: unset;
  right: 0;
  text-align: end;
  left: unset;
}

.hero .hero-hero-gradient-layout.align-left {
  left: 0;
  text-align: left;
  top: 50%;
  transform: translate(-0%, -50%);
}

.hero .hero-hero-gradient-layout.align-center {
  left: 0;
  text-align: center;
  top: 50%;
  transform: translate(-0%, -50%);
  right: 0;
}

.hero .hero-hero-gradient-layout.align-right {
  left: unset;
  text-align: end;
  top: 50%;
  transform: translate(-0%, -50%);
  right: 0;
}

.hero .hero-hero-gradient-layout.align-bottom-left {
  bottom: 0;
  top: unset;
  transform: unset;
  left: 0;
  right: unset;
  text-align: start;
}

.hero .hero-hero-gradient-layout.align-bottom-right {
  top: unset;
  bottom: 0;
  transform: unset;
  right: 0;
  text-align: end;
  left: unset;
}

.hero .hero-hero-gradient-layout.align-bottom-center {
  top: unset;
  bottom: 0;
  transform: unset;
  left: 0;
  right: 0;
  text-align: center;
}

.hero .hero-gradient-effect {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.hero .hero-gradient-effect.top-left-gradient {
  background: linear-gradient(
    135deg,
    rgb(0 0 0 / var(--hero-gradient-opacity)) 0%,
    rgb(0 0 0 / 0%) 50%
  );
}

.hero .hero-gradient-effect.top-right-gradient {
  background: linear-gradient(
    225deg,
    rgb(0 0 0 / var(--hero-gradient-opacity)) 0%,
    rgb(0 0 0 / 0%) 50%
  );
}

.hero .hero-gradient-effect.full-top-gradient {
  background: linear-gradient(
    180deg,
    rgb(0 0 0 / var(--hero-gradient-opacity)) 0%,
    rgb(0 0 0 / 0%) 50%
  );
}

.hero .hero-gradient-effect.top-white-gradient {
  background: linear-gradient(
    180deg,
    rgb(255 255 255 / var(--hero-gradient-opacity)) 0%,
    rgb(255 255 255 / 0%) 50%
  );
}

.hero .hero-gradient-effect.full-gradient {
  background: linear-gradient(
    180deg,
    rgb(0 0 0 / var(--hero-gradient-opacity)),
    rgb(0 0 0 / 0%)
  );
}

.hero .hero-gradient-effect.bottom-left-gradient {
  background: linear-gradient(
    45deg,
    rgb(0 0 0 / var(--hero-gradient-opacity)) 0%,
    rgb(0 0 0 / 0%) 50%
  );
}

.hero .hero-gradient-effect.bottom-right-gradient {
  background: linear-gradient(
    315deg,
    rgb(0 0 0 / var(--hero-gradient-opacity)) 0%,
    rgb(0 0 0 / 0%) 50%
  );
}

.hero .hero-gradient-effect.full-bottom-gradient {
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / var(--hero-gradient-opacity)) 0%,
    rgb(0 0 0 / 0%) 50%
  );
}

.hero .hero-main-container .hero-video {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 0;
  object-fit: cover;
}

.hero .hero-main-container .hero-video > div {
  display: flex;
  justify-content: center;
}

.hero .hero-main-container .hero-video video {
  width: 100%;
  max-width: 100%;
}

.hero-video-container video {
  transition: opacity 0.5s ease; /* Smooth fade-in/out */
  opacity: 1; /* Video is fully visible by default */
}

.hero-video-container video.paused {
  opacity: 0.7; /* Dim the video when paused for smoother interaction */
}

.hero-video-placeholder-play-pause button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("@assets/icons/overlay-slider-pause.svg");
}

.hero-video-placeholder-play-pause button.paused {
  background-image: url("@assets/icons/overlay-slider-play.svg");
}

@media only screen and (width<=767px) {
  .hero-image-container img {
    height: var(--hero-background-img-height-mobile);
  }

  /* hero v1 */
  .hero
    .hero-main-container.overlay-image-variation
    .hero-first-variation-anchor-img {
    left: 0;
    right: 0;
  }

  .hero
    .hero-main-container.hero-feature-text-enabled.align-bottom-center
    .hero-first-variation-anchor-img,
  .hero
    .hero-main-container.hero-feature-text-enabled.align-bottom-left
    .hero-first-variation-anchor-img,
  .hero
    .hero-main-container.hero-feature-text-enabled.align-bottom-right
    .hero-first-variation-anchor-img,
  .hero
    .hero-main-container.hero-feature-text-enabled
    .hero-text-content.align-bottom-left,
  .hero
    .hero-main-container.hero-feature-text-enabled
    .hero-text-content.align-bottom-right,
  .hero
    .hero-main-container.hero-feature-text-enabled
    .hero-text-content.align-bottom-center {
    bottom: 4rem;
  }

  .hero
    .hero-main-container.hero-feature-text-enabled
    .hero-frosted-glass-layout.hero-text-content.align-bottom-left,
  .hero
    .hero-main-container.hero-feature-text-enabled
    .hero-frosted-glass-layout.hero-text-content.align-bottom-right,
  .hero
    .hero-main-container.hero-feature-text-enabled
    .hero-frosted-glass-layout.hero-text-content.align-bottom-center {
    bottom: 70px;
  }

  .hero .hero-main-container .hero-frosted-glass-layout .hero-button-wrapper {
    margin-top: 10px;
  }

  .hero
    .hero-main-container
    .hero-frosted-glass-layout
    .hero-button-wrapper
    .button-container
    a {
    margin: 0;
  }

  .hero .hero-main-container .hero-frosted-glass-layout {
    width: 100%;
    padding: var(--hero-content-padding-mobile);
    margin: 0 auto;
    height: max-content;
    text-align: center;
  }

  .hero .hero-main-container .hero-hero-gradient-layout {
    padding: var(--hero-content-padding-mobile);
    width: 100%;
    text-align: center;
  }

  .hero .hero-hero-gradient-layout.align-top-center,
  .hero-hero-gradient-layout.align-bottom-center,
  .hero-hero-gradient-layout.align-center {
    width: 100%;
  }

  /* v2 */

  .hero .hero-main-container .hero-text-content.overlay-text-content {
    width: 100%;
    left: unset;
    text-align: center;
    top: 0;
    padding: var(--hero-content-padding-mobile);
  }

  .hero
    .hero-main-container
    .overlay-text-variation-position.hero-text-content {
    width: 100%;
    text-align: center;
    margin-left: unset;
    margin-right: unset;
    padding: var(--hero-content-padding-mobile);
  }

  .hero .overlay-text-variation-position h1,
  .hero h2,
  .hero h3,
  .hero h4,
  .hero h5,
  .hero h6 {
    margin: 0;
  }

  .hero .hero-main-container .feature-product-text {
    margin-bottom: 31px !important;
    margin-right: unset !important;
    text-align: center !important;
  }

  /* v4 */
  .hero .hero-gradient-effect.top-left-gradient,
  .hero .hero-gradient-effect.top-right-gradient,
  .hero .hero-gradient-effect.full-top-gradient {
    background: linear-gradient(
      180deg,
      rgb(0 0 0 / var(--hero-gradient-opacity)) 0%,
      rgb(0 0 0 / 0%) 50%
    );
  }

  .hero .hero-gradient-effect.top-white-gradient {
    background: linear-gradient(
      180deg,
      rgb(255 255 255 / var(--hero-gradient-opacity)) 0%,
      rgb(255 255 255 / 0%) 50%
    );
  }

  .hero .hero-gradient-effect.full-gradient {
    background: linear-gradient(
      180deg,
      rgb(0 0 0 / var(--hero-gradient-opacity)),
      rgb(0 0 0 / 0%)
    );
  }

  .hero .hero-gradient-effect.bottom-left-gradient,
  .hero .hero-gradient-effect.bottom-right-gradient,
  .hero .hero-gradient-effect.full-bottom-gradient {
    background: linear-gradient(
      0deg,
      rgb(0 0 0 / var(--hero-gradient-opacity)) 0%,
      rgb(0 0 0 / 0%) 50%
    );
  }

  .hero .hero-main-container .hero-video .hero-video-placeholder-play-pause {
    display: none;
  }

  .hero
    .hero-main-container.hero-feature-text-enabled
    .hero-hero-gradient-layout.align-bottom-right,
  .hero-main-container.hero-feature-text-enabled
    .hero-hero-gradient-layout.align-bottom-left,
  .hero-main-container.hero-feature-text-enabled
    .hero-hero-gradient-layout.align-bottom-center {
    bottom: 5rem;
  }
}

@media only screen and (width>=768px) {
  .hero
    .hero-main-container.overlay-image-variation.align-bottom-right
    .hero-bg-link {
    left: 0;
  }
}

@media screen and (width >=768px) {
  .hero
    .hero-main-container.hero-feature-text-enabled
    .feature-product-text.align-bottom-right {
    left: 0;
    right: unset;
    margin-left: 157px;
    margin-right: unset;
  }
}

.hero .hero-container .hero-text-content p,
.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6 {
  margin: 0;
}

/* feature enable css */
.section.hero-container
  .hero-main-container.hero-feature-text-enabled
  .hero-text-content.hero-first-variation {
  width: 100%;
  left: 0;
}

.section.hero-container
  .hero-main-container.hero-feature-text-enabled
  .feature-product-text.align-bottom-right
  * {
  left: 0;
}

.section.hero-container
  .hero-main-container.hero-feature-text-enabled
  .feature-product-text
  > * {
  right: 0;
  width: max-content;
  display: inline-block;
}

.section.hero-container
  .hero-main-container.hero-feature-text-enabled
  .feature-product-text
  a {
  left: unset;
}

@media only screen and (width <= 600px) {
  .section.hero-container
    .hero-main-container.hero-feature-text-enabled
    .feature-product-text
    a {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media screen and (width >= 768px) and (width <= 1024px) {
  .hero .hero-main-container .feature-product-text {
    margin-bottom: 59px;
    margin-right: 31px;
  }

  .hero
    .hero-main-container.hero-feature-text-enabled
    .feature-product-text.align-bottom-right {
    margin-left: 31px;
  }
}

@media only screen and (width <= 1199px) {
  .hero:has(video) .hero-frosted-glass-layout.align-bottom-center,
  .hero:has(video) .hero-frosted-glass-layout.align-bottom-left,
  .hero:has(video) .hero-frosted-glass-layout.align-bottom-right {
    top: 0;
    height: max-content;
  }

  .hero:has(.hero-frosted-glass-container video)
    .hero-frosted-glass-layout.align-bottom-center,
  .hero:has(.hero-frosted-glass-container video)
    .hero-frosted-glass-layout.align-bottom-left,
  .hero:has(.hero-frosted-glass-container video)
    .hero-frosted-glass-layout.align-bottom-right {
    top: 0;
  }

  .hero:has(.hero-frosted-glass-container video)
    .hero-frosted-glass-layout.align-bottom-center {
    height: max-content;
  }
}
