.fragment-content {
  padding: 1.5rem;
  font-size: 0.875rem;
}

.fragment-content a {
  word-break: break-word;
}

.reference-card { display: block; width: min(100%, 640px); margin: auto; }
.reference-card sp-icon-info-outline { margin: 32px auto; }
