.carousel-content {
  padding: 40px 24px;
}

.carousel-wrapper {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 40px 24px;
}

.carousel-content a {
  display: inline-block;
  margin-top: 0.5rem;
}
